@font-face {
  font-family: "azaret-mono";
  src: url("./azeret-mono-v8-latin-regular.woff2") format("woff2"),
    url("./azeret-mono-v8-latin-regular.woff") format("woff");
}

:root {
  --primary-color: #283618;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "azaret-mono";
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding-bottom: 0px;
  border-bottom: 5px solid var(--primary-color);
}

h1 {
  padding: 10px;
}

.about {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  background-image: url("./background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 90vw;
  height: 70vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul,
.topbar {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.topbar {
  margin: 80px 0 0 0;
}

header,
main,
footer,
ul {
  margin: 0 auto;
  text-align: center;
}
li {
  list-style-type: none;
}

footer {
  background-color: black;
  width: 100vw;
  color: white;
  padding: 5px 0;
}

a {
  color: white;
}
